body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, rgb(0, 0, 0), #1e1e1e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow-x: hidden;
}
 

.container {
  background-image: url('https://th.bing.com/th/id/R.75f5ab7d86e7bde341081a2d19ad5d29?rik=V2HCueNhlv%2b3SA&riu=http%3a%2f%2f24.media.tumblr.com%2f75f5ab7d86e7bde341081a2d19ad5d29%2ftumblr_mjccodOlZn1s2xsbto1_500.gif&ehk=dmy5Kcivg8z%2fDf7jaXEB%2bDxMN4QdbA26hnQf4O4MIqA%3d&risl=&pid=ImgRaw&r=09'); 
  background-size: cover;
  background-position: center;
  position: relative;
  left: 250px;
  top: 90px;
  transform: translate(-50%, -50%);
  border: 1px solid #6e6e6e;
  border-radius: 50px;
  padding: 20px; 
  width: 500px; 
  height: 500px;
  max-width: 600px;
  margin-top: 220px; /* moves the content downwards */
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
  
}


.content {
  display: flex;
  flex-direction: column;
}

.logo-placeholder {
  width: 30px; 
  height: auto; 
  margin-top: 50px; 
  position: relative;
  right: -70px;
  top: 10px;
  filter: invert(100%);
  display: inline-block;
  
}

.logo-container {
  margin-top: 20px; 
  display: inline-block;
  vertical-align: middle;

}

.input-container:focus {
  border-color: #fff;
}

.form-control:focus {
  outline: none; 
  box-shadow: none; 
  border-bottom: 1px solid #252525; 
}

.logo-image {
  width: 30px; /* Adjust size as needed */
  margin-right: 10px; /* Adjust spacing between logo and email */
  filter: invert(100%);
}

.form-group-container {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px; /* Add space between input groups */
  position: relative;
  top: 90px;
}

.logo-image {
  width: 20px; /* Decrease the size of the logo */
  margin-right: 10px; /* Adjust spacing between logo and input */

 
}

.email-input {
  flex: 1; /* Allow email input to grow and fill remaining space */
 
}

.password-input {
  flex: 1; /* Allow password input to grow and fill remaining space */
  justify-content: space-between;

}

.forgot-password {
  position: relative;
  left: 230px;
  top: 20px;
  color: #8d8d8d; 
  cursor: pointer; 
  font-size: 14px;
  font-style: italic;
}

.forgot-password:hover {
  color: #cecece;
  text-decoration: underline;
}


.button-container {
  text-align: center;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
  display: flex;
 
}

.custom-button {
  width: 400px;
  background-image: linear-gradient(rgba(123, 59, 59, 0.5), rgba(206, 36, 36, 0.5));
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #cccccc;
border-radius: 20px;
padding: 10px;
border-color: none;
font-size: 18px;
}



















